body {
    margin: 0px;
    padding: 0px;
}

section {
    text-align: center;
}

.navbar {
    margin-bottom: 10px;
}

#miLogoMarca {
    height: 30px;
    width: 30px;
}

#miLogo {
    text-align: center;
    width: 20%;
}

.accordion-body {
    margin-bottom: 2%;
}

.imgejemplo {
    max-width: 30%;
    max-height: 30%;
    margin-bottom: 2%;
}

.accordion {
    justify-content: center;
    --bs-accordion-active-color: black;
    --bs-accordion-active-bg: darkgrey;
    --bs-accordion-border-color: grey;
    --bs-accordion-btn-focus-box-shadow: black;
}

#gift {
    display: none;
}

#contenido {
    font-size: x-large;
}

footer {
    text-align: center;
    background-color: black;
    color: white;
}

.copyright {
    text-align: center;
    text-transform: capitalize;
    color: white;
    text-emphasis: none;
}

@media(min-width: 576px) {

    #formulario {
        width: 60%;
        max-width: 600px;
    }
    .accordion {
        padding: 0px 20% 10px 20%;
    }
    #contact {
        text-align: center;
        display: flex;
        justify-content: center;
    }
    
}